<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/welcome.css">
</head>
<body>
    <center>
    <div class="container">
        <h2>Hello USER! Welcome....</h2>
        <h4>Upload your file</h4><br>

        <div>
            <input type="file" id="fileToUpload">
            <button onclick="uploadMedia()">Upload</button>
        </div>
    </div>
</center>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.726.0.min.js"></script>
    <script src="js/welcome.js"></script>
</body>
</html>
